:root {
  --primary: #735bf2;
  --secondary: #EA4C89;

  --dark: #0e0e0e;
  --dark-900: #1e1e1e;

  --light: #E6E6E6;

  --grey: #959595;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  color: var(--light);
}

body, input, button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
}